[user]
	email = cdanis@gmail.com
	name = Chris Danis

[diff]
    noprefix = true

[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig

[url "https://github.com/"]
	insteadOf = git@github.com:
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
# This looks mysterious, but is what stops a cloned-via-SSH repo
# from being rewritten to HTTPS for push.
[url "git@github.com:"]
	pushInsteadOf = git@github.com:

[url "https://gerrit.wikimedia.org/r/"]
	insteadOf = ssh://cdanis@gerrit.wikimedia.org:29418/
	insteadOf = ssh://gerrit.wikimedia.org:29418/
[url "ssh://cdanis@gerrit.wikimedia.org:29418/"]
	pushInsteadOf = https://gerrit.wikimedia.org/r/
# This looks mysterious, but is what stops a cloned-via-SSH repo
# from being rewritten to HTTPS for push.
[url "ssh://cdanis@gerrit.wikimedia.org:29418/"]
	pushInsteadOf = ssh://cdanis@gerrit.wikimedia.org:29418/
[url "ssh://gerrit.wikimedia.org:29418/"]
	pushInsteadOf = ssh://gerrit.wikimedia.org:29418/

[url "https://gitlab.wikimedia.org/"]
	insteadOf = git@gitlab.wikimedia.org:
[url "git@gitlab.wikimedia.org:"]
	pushInsteadOf = https://gitlab.wikimedia.org/
# This looks mysterious, but is what stops a cloned-via-SSH repo
# from being rewritten to HTTPS for push.
[url "git@gitlab.wikimedia.org:"]
	pushInsteadOf = git@gitlab.wikimedia.org:
[init]
	defaultBranch = main
